*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
 font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    padding: 16px 240px 16px 120px;
}
nav{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;


}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:32px;
    align-items:center;
}
nav .menu a{
    font-size: 16px;
    line-height: 152%;
    font-weight: 500px;
    text-decoration: none;
color: #000000;
white-space: nowrap; 

}

.menu .btn{
    color: red;
    font-size: 16px;
    font-weight: 600px;
    white-space: nowrap;
    padding: 12.5px 16px 12.5px 16px;
    text-align: center;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    justify-content: space-between;
    border-radius: 4px;
    cursor: pointer;
    margin-right:120px;
    margin-left: 240px;
}
.banner{
    background-image: url(../assets/hero-bg.png);
    display: flex; 
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
 width: 100%;
height: 660px;    
}
.banner .banner-content .highlight{
    border-radius:18px ;
    border: none;
    color: #469165;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    cursor: pointer;
    text-align: center;
    padding: 8px 12px 8px 6px;
    display: block;
    margin: 115px 500px 16px 500px;
}


.banner .banner-content .h1-white{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 72px;
    align-items: center;
    padding-left: 217px;
}
.banner .banner-content .h1-green{
     color: #30b868;
    font-weight: bold;
    font-size: 72px;
    align-items: center;
    padding-left:200px ;
}
.banner .banner-content .p1{
    color: #FFFFFF; 
    line-height: 24px;
     font-size: 18px;
     padding-left: 265px;
     padding-bottom: 32px;
     display: flex;
     justify-content: space-between;
     text-align: left;
}
.banner .banner-btn .btn1{
    padding: 12px 10px 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    gap: 20px;
    margin-left:440px ;
    cursor: pointer;
    justify-content: space-evenly;
    
}
.banner .banner-btn .btn2{
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: transparent;
    padding:  12px 16px 12px 16px;
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 1);
cursor: pointer;
}
#skills{
    padding-top: 40px;
}
 #skills .skill-container .section-heading .s1{
margin-left: 332px;
margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
 } 
 #skills .skill-container .section-heading .s2{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-left: 360px;
    margin-bottom: 44px;
 }
#skills .skill-container{
    width: 72%;
    max-width: 1600px;
     /* margin: 0px auto;  */
}
 #skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
    margin-right: 50px;
    margin-left: 100px;

 }
 .skill-box .skill-card{
    padding: 24px;
    /* border: 1px solid red; */
    max-width: 322px;
    box-shadow:  0px 0px 8px 0px #0000000F;

 }
.skill-card img{
    max-width: 60px;
    background-color:#f95555;
    border: 1px solid #dddd;
    border-radius: 50%;
    padding: 10px;
    /* text-align: center; */
    margin: 46px 107px 16px 107px;

}
.skill-card h3{
    font-weight: 600px;
font-size: 24px;
line-height: 29px;
text-align: center;
}
.skill-card p{
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

